.animated-text {
    opacity: 0;
    transition: opacity 1s, transform 1s;
  }
  
  .slide-in-left {
    transform: translateX(-50px);
  }
  
  .slide-in-right {
    transform: translateX(50px);
  }
  
  .animated-text.animated {
    opacity: 1;
    transform: translateX(0);
  }
  